<!doctype html>
<html lang="en">
  <head>

    <title>Movie Analyzer</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </style>
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
  </head>
  <body class="text-center" style="background-image: linear-gradient(white, yellow)"">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Analizamos tu pelicula</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Llena los datos de tu produccion!</h1>
    <p class="lead"></p>
    <p class="lead">

<form action="#" method="post">
  <div class="form-group">

    <input class="form-check-input position-static" type="text" name="act" required="1" placeholder="Actores">

  </div>

  <div class="form-group">

    <input class="form-check-input position-static" type="number" name="budget" required="1" placeholder="Presupuesto">

  </div>
  <div class="form-group">

    <input class="form-check-input position-static" type="text" name="other" required="1" placeholder="Otros">

  </div>

  <button type="submit" class="btn btn-primary">Analizar</button>
</form>
  <br></br>
  <br></br>
  <p class="lead"><b>Aguarde hasta recibir nuestro analisis :)</b></p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">

      <iframe src="http://localhost:8050" width=700 height=600>

    </div>
  </footer>
</div>
</body>
</html>
